* {
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-wrap: wrap;
}

.body {
    flex-grow: 1;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
}

header {
    flex-grow: 1;
    flex-basis: 100%;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

a.nav-item {
    flex-grow: 1;
    flex-basis: 20%;
}
  
.grid {
    flex-grow: 1;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
  }

.grid .grid-col-1of3 {
    flex-grow: 1;
    flex-basis: 33.333%;
  }
  