* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h1.logo {
    font-family: "sports", Helvetica, Arial, sans-serif;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* .body {
    background-color: rgba(232,232,232,0.75);
} */

.content {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

img.player-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: 3px;
    color: rgba(255,153,51,1);
    margin-top: 3rem;
    margin-bottom: 1rem;
}

table.player-details {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table.team-details {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table.player-details td {
    padding: 0.5rem;
    border-left: solid;
    border-width: 1px;
    border-color: rgba(255,153,51,1);
    border-spacing: 0;
    border-collapse: collapse;
}

table.team-details td {
    padding: 0.5rem;
    border-left: solid;
    border-width: 1px;
    border-color: rgba(255,153,51,1);
    border-spacing: 0;
    border-collapse: collapse;
}

table.player-details td.far-right {
    border-right: solid;
    border-width: 1px;
    border-color: rgba(255,153,51,1);
}

table.team-details td.far-right {
    border-right: solid;
    border-width: 1px;
    border-color: rgba(255,153,51,1);
}

h3.player-stats {
    font-size: 2rem;
    letter-spacing: 3px;
    font-family: "sports", Helvetica, Arial, sans-serif;
    color: rgba(255,153,51,1);
    margin-bottom: 1rem;
    margin-top: 3rem;
}

h3.current-team-stats {
    font-size: 2rem;
    letter-spacing: 3px;
    font-family: "sports", Helvetica, Arial, sans-serif;
    color: rgba(255,153,51,1);
    margin-bottom: 1rem;
    margin-top: 3rem;
    text-align: center;
}

.stats {
    margin: 2rem;
    margin-bottom: 1rem;
}

.team-stats {
    margin: 2rem;
    margin-bottom: 1rem;
    margin: auto;
    width: 50%;
}

table.show-stats{
    margin-bottom: 0;
}

table.show-team-stats{
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table.show-stats th {
    padding: 0.5rem;
    color: rgba(255,153,51,1);
    background-color: rgba(10,15,16,1);
    font-size: 0.8rem;
}

table.show-team-stats th {
    padding: 0.75rem;
    color: rgba(255,153,51,1);
    background-color: rgba(10,15,16,1);
    font-size: 0.8rem;
}

#bottom-space {
    margin-bottom: 2rem;
}

table.show-stats td {
    padding: 0.5rem;
    background-color: rgba(10,15,16,0.25);
    font-size: 0.8rem;
}

table.show-team-stats td {
    padding: 0.5rem;
    background-color: rgba(10,15,16,0.25);
    font-size: 0.8rem;
}

table.show-stats td.y-axis {
    padding: 0.5rem;
    color: rgba(255,153,51,1);
    background-color: rgba(10,15,16,1);
    font-size: 0.8rem;
}

a.add-link {
    background-color: rgba(255,153,51,1);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    font-size: 1rem;
    color: #fff;
    padding: 1rem;
    margin: 0 auto;
    text-decoration: none;
    display: inline-block;
}

p.added-player {
    text-align: center;
}

a.add-link:hover {
    background-color: rgba(255,121,0,1);
}

h1.search {
    font-family: "sports", Helvetica, Arial, sans-serif;
    text-align: center;
    color: rgba(255,121,0,1);
    font-size: 3rem;
    width: 100%;
    margin: auto;
    margin-top: 3rem;
}

h1.log {
    margin-bottom: 2rem;
    text-align: center;
    color: rgba(255,121,0,1);
    font-family: "sports", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 2rem;
}

.content form {
    margin-bottom: 2rem;
}

.content form .input {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.center {
    text-align: center;
}

.center a {
    text-decoration: none;
}

.content p.center {
    text-align: center;
}

a.blue {
    color: rgba(53,93,237,1);
}

a.blue:hover {
    color: rgba(7,53,221,1);
}


.content h3.fantasy-title {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 3px;
    font-family: "sports", Helvetica, Arial, sans-serif;
    color: rgba(255,153,51,1);
}

.content p.author {
    text-align: center;
    margin-bottom: 4rem;
}

.content table.fantasy-roster {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.content table.fantasy-roster th {
    padding: 1rem;
    color: rgba(255,153,51,1);
    background-color: rgba(10,15,16,1);
}

.content table.fantasy-roster td {
    padding: 0.5rem;
    background-color: rgba(10,15,16,0.25);
}

.content table.fantasy-roster td a {
    color: rgba(53,93,237,1);
    transition: 0.15s;
    -webkit-transition: 0.15s;
    font-size: 1rem;
    text-decoration: none;
}

.content table.fantasy-roster td a:hover {
    color: rgba(7,53,221,1);
}

h2.nhl-team {
    font-size: 3rem;
    letter-spacing: 3px;
    font-family: "sports", Helvetica, Arial, sans-serif;
    color: rgba(255,153,51,1);
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.center-title {
    margin: auto;
    width: 100%;
    margin-top: 2rem;
}

header {
    margin: 0;
    padding: 0;
    position: sticky;
}

a.nav-item {
    display: inline-block;
    text-align: center;
    background-color: rgba(10,15,16,0.35);
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    color: rgba(10,15,16,1);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    border-color: rgba(10,15,16,0.35);
    border-bottom: solid;
    border-top: solid;
    border-width: 2px;
}

a.nav-item:hover {
    color: rgba(255,153,51,1);
    border-bottom: solid;
    border-width: 2px;
    background-color: rgba(10,15,16,0.65);
}

.grid {
    margin: 2rem auto 4rem auto;
}

.grid .grid-col-1of3 {
    width: 100%;
    text-align: center;
}

.grid .grid-form-1of3 {
    text-align: center;
}

.grid .grid-col-1of2 {
    width: 100%;
    text-align: center;
    margin-top: 4rem;
}

.grid .grid-col-1of2 ul {
    list-style-type: none;
}

ul li {
    margin: 0.5rem;
}

.grid .grid-col-1of2 ul a {
    color: rgba(53,93,237,1);
    text-decoration: none;
}

.grid .grid-col-1of2 ul a:hover {
    color: rgba(7,53,221,1);
}

.grid .grid-col-1of3 ul a {
    color: rgba(53,93,237,1);
    text-decoration: none;
}

.grid .grid-col-1of3 ul a:hover {
    color: rgba(7,53,221,1);
}

.grid .grid-col-1of3 h3 {
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-family: "sports", Helvetica, Arial, sans-serif;
    color: rgba(255,153,51,1);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.grid .grid-col-1of2 h3 {
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-family: "sports", Helvetica, Arial, sans-serif;
    color: rgba(255,153,51,1);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.grid .grid-col-1of2 h4 {
    font-size: 1.2rem;
    letter-spacing: 3px;
    font-family: "sports", Helvetica, Arial, sans-serif;
    color: rgba(255,153,51,1);
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.grid .left {
    border-right: solid;
    color: rgba(255,153,51,1);
}

.grid .grid-col-1of3 p {
    color: rgba(10, 15, 16, 1);
}

.add {
    text-align: center;
    color: rgba(53,93,237,1);
    text-decoration: none;
}

.add:hover {
    color: rgba(7,53,221,1);
}

.center-block {
    margin: auto;
    width: 50%;
    margin-bottom: 2rem;
}

.center-block-p {
    margin: auto;
    width: 50%;
    margin-top: 2rem;
}

.center-block-p p {
    text-align: center;
}

.center-block p {
    text-align: center;
}

.center-block p a {
    text-decoration: none;
    color: rgba(53,93,237,1);
}

.center-block p a:visited {
    text-decoration: none;
    color: rgba(53,93,237,1);
}

.center-block p a:hover {
    color: rgba(7,53,221,1);
}

.col-1of2 {
    margin: auto;
    width: 50%;
}

.center-button {
    text-align: center;
}

.center-button input {
    margin-left: auto;
    margin-right: auto;
}

.account-field{
    display: block;
    text-align: center;
}

.account-field form{
    display: inline-block;
}

.account-field form label{
    text-align: left;
    float: left;
}

.account-field form input{
    float: right;
    margin-left: 15px;
}

.account-field form input[type=submit]{
    float: left;
    margin-left: 0;
}

.errors {
    text-align: center;
    margin-bottom: 2rem;
}

input[type=submit] {
    padding: 0.25rem;
}

.watchlist{
    font-weight: bold;
}

.list-item{
    list-style: none;
}

@font-face {
    font-family: "sports";
    src: url("../font/sportsjersey.ttf");
}
